@import url('https://fonts.googleapis.com/css?family=Noto+Sans|Montserrat');
.box {
    top: 3vh;
    margin: 0 auto;
    width: 80%;
    border: solid black 2px;
    color: white;
}

h2 {
    position: fixed;
    align-self: center;
}

p {
    font-family: 'Noto Sans', sans-serif;
    font-size: 22px;
    font-weight: 700;
    margin: 5%;
}

.header {
    font-family: 'Montserrat', sans-serif;
    padding: 2%;
    font-weight: 900;
    text-decoration: underline;
    font-size: 2em;
}

.tech {
    text-decoration: underline;
}

.highlight {
    margin-left: 2%;
    text-decoration: none;
    background-color: white;
    opacity: .8;
    color: gray;
}