.nav {
    position: fixed;
    z-index: 1;
    width: 100%;
    align-items: center;
    justify-content: flex-end;
}

.menu {
    display: flex;
    list-style-type: none;
    justify-content: flex-end;
    border-bottom: 2px solid transparent;
    background: transparent;
}

.menu-item {
    padding-right: 3rem;
    color: aliceblue;
    font-size: 25px;
    font-weight: bold;
    font-family: 'Raleway', sans-serif;
    text-decoration: none;
}

.menu-item:hover {
    cursor: pointer;
    text-decoration: underline;
    text-decoration-color: aliceblue;
}