nav {
    z-index: 1;
    width: 100%;
    align-items: center;
    position: fixed;
    z-index: 1;
    width: 100%;
    align-items: center;
    max-height: 3em;
}

.menu {
    display: flex;
    list-style-type: none;
    justify-content: flex-end;
    border-bottom: 2px solid transparent;
    background: transparent;
}

.menu-item {
    margin-right: 1em;
    color: aliceblue;
    font-size: 25px;
    font-weight: bold;
    font-family: 'Raleway', sans-serif;
    text-decoration: none;
}

.menu-item:hover {
    text-decoration-color: aliceblue;
}

nav.stroke ul li a,
nav.fill ul li a {
    position: relative;
}

nav.stroke ul li a:after,
nav.fill ul li a:after {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    width: 0%;
    content: '.';
    color: transparent;
    background: #aaa;
    height: 1px;
}

nav.stroke ul li a:hover:after {
    width: 100%;
}

nav.fill ul li a {
    transition: all 0.5s;
}

nav.fill ul li a:after {
    text-align: left;
    content: '.';
    margin: 0;
    opacity: 0;
}

nav.fill ul li a:hover {
    color: #fff;
    z-index: 1;
}

nav.fill ul li a:hover:after {
    z-index: -10;
    animation: fill .1s forwards;
    -webkit-animation: fill .1s forwards;
    -moz-animation: fill .1s forwards;
    opacity: 1;
}

@media only screen and (max-device-width:800px) {
    nav {
        position: fixed;
        z-index: 1;
        width: 100%;
        align-items: center;
        justify-content: flex-end;
        max-height: 3em;
    }
    .menu {
        display: flex;
        list-style-type: none;
        justify-content: flex-end;
        border-bottom: 2px solid transparent;
        background: transparent;
    }
    .menu-item {
        margin-right: 1em;
        color: aliceblue;
        font-size: 1em;
        font-weight: bold;
        font-family: 'Raleway', sans-serif;
        text-decoration: none;
    }
    .menu-item:hover {
        text-decoration-color: aliceblue;
    }
}