.intro {
    color: aliceblue;
    top: 20em;
    margin-left: 22%;
    width: 55%;
    position: absolute;
    font-family: 'Raleway', sans-serif;
    text-align: center;
}

.intro-name {
    font-family: 'Raleway', sans-serif;
    font-size: 4em;
    font-weight: bold;
    line-height: 1em;
    padding-bottom: 1%;
}

.tagline {
    font-size: 1em;
    color: #acb2b8;
}

img {
    height: 44px;
    margin-top: 1rem;
    margin-right: 3rem;
}

img:hover {
    cursor: pointer;
}


/** Mobile **/

@media only screen and (max-device-width: 800px) {
    .intro {
        color: aliceblue;
        top: 15em;
        margin-left: 20%;
        margin-right: 30%;
        width: 60%;
        position: absolute;
        font-family: 'Raleway', sans-serif;
        text-align: center;
    }
    .intro-name {
        font-family: 'Raleway', sans-serif;
        font-size: 3em;
        font-weight: bold;
        line-height: 1em;
        padding-bottom: 1%;
    }
    .tagline {
        font-size: 1em;
        color: rgb(172, 178, 184);
    }
    img {
        height: 24px;
        margin-top: 1rem;
        margin-right: 1rem;
    }
}